//<BUTTONS (a.btn+tab)>
// Снипет (HTML): btn

.button {
	display: inline-flex;
	padding: 0px 0px;
	font-size: 3px;

	@media (any-hover: hover) {
		&:hover {}
	}

	&._fw {
		width: 100%;
	}

	&-whatsapp {
		background-color: #43d854;
		padding: 10px 30px;
		border-radius: 5px;
		color: #fff;
		font-weight: 600;
		font-size: 16px;
		letter-spacing: 1px;
		transition: all 0.3s ease 0s;

		@media (any-hover: hover) {
			&:hover {
				background: #43cb54;
				color: #fff;
			}
		}
	}
}