// Заголовки, общие БЄМ блоки и проче...
.title {
	font-style: normal;
	font-weight: 500;
	font-size: 34px;
	line-height: 40px;
	line-height: math.div(40, 34);
	text-transform: uppercase;
	color: #183059;
	@include adaptiveValue("margin-bottom", 20, 15);
}