// Заголовки, общие БЄМ блоки и проче...
.title {
	font-style: normal;
	font-weight: 500;
	font-size: 34px;
	@include adaptiveValue("font-size", 34, 28);
	line-height: 40px;
	line-height: math.div(40, 34);
	text-transform: uppercase;
	color: #183059;
	@include adaptiveValue("margin-bottom", 20, 15);
}

.subtitle {
	font-weight: 400;
	line-height: math.div(16, 14);
	color: #172E54;
	@include adaptiveValue("margin-bottom", 40, 20);
}

.titletext {
	@include adaptiveValue("font-size", 30, 24);
	margin-bottom: 20px;
	font-weight: 600;
}

.category__subtitle {
	color: #3a3a3a;
	font-size: 15px;
	@include adaptiveValue("margin-bottom", 40, 20);
}

.breadcrumbs {
	color: #777;
	font-size: 13px;
	@include adaptiveValue("margin-bottom", 30, 15);
}

.product-title {
	@include adaptiveValue("font-size", 40, 26);
	font-weight: 600;
	margin-bottom: 20px;
	line-height: math.div(45, 40);
}

.product-price {
	@include adaptiveValue("font-size", 26, 20);
	font-weight: 600;
	margin-bottom: 20px;
	display: block;

	span {
		font-size: 16px;
		font-weight: 400;
	}
}