//====================================================================================================
.footer {
	padding: 15px 0;
	background: #F9FCFF;
}

.footer__container {}

.footer__body {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo {}

.footer__copirayit {}

.header__actions {}

.header__actions-link {}

.fa-solid {}

.fa-phone {}

//====================================================================================================