//====================================================================================================
.footer {
	padding: 15px 0;
	background: #F9FCFF;
}

.footer__body {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}

.logo {
	margin-bottom: 20px;

	@media (max-width:$tablet) {
		text-align: center;
		margin: auto;
		display: block;
	}
}

.footer__copirayit {
	text-align: center;
	font-size: 14px;
	line-height: math.div(19, 14);
	margin-right: 20px;

	@media (max-width:$tablet) {
		margin-top: 20px;
		text-align: center;
		flex: 1 1 auto;
		margin-right: 0;
	}
}

.header__actions {
	@media (max-width:$tablet) {
		display: none;
	}
}

//====================================================================================================